@charset "utf-8";

.p1 {
    font-size: xx-large;
}
.p1d {
    text-align: right;
}
.articlesourse {
    font-weight: 900;
    color: #B8B8B8;
    width: auto;
}

.articlesoursehigh {
    color: #929292;
    font-style: normal;
}
.articlebutton {
    float: right;
    width: auto;

}
.articlecard {
    height: 435px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 363px;

}
.div0 {
    width: 1030px;



}

.div1 {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;


}
.div2 {
    background-color: #00FF14;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 220px;
    text-align: center;
}
.round {
    border-radius: 7px;
}

.header1 {
    background-image: url(../images/school.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    max-height: 281px;
    background-size: cover;
}
.centered {
    margin-left: 577px;
}
.white {
    color: #FFFFFF;
}
.body {
    background-color: #DCDCDC;


}
.beta {
    text-decoration: underline;
    color: #ADADAD;
}

.articlecardpicture {
    margin-top: 17px;
}
.a-center {
    text-align: center;
    width: 0px;
}
.icon {
    max-width: 50px;
    max-height: 50px;
}
