@charset "utf-8";

.p1 {
    font-size: xx-large;
}
.p1d {
    text-align: right;
}

/*文章卡片*/
.articlesourse {
    font-weight: 900;
    color: #B8B8B8;
    width: auto;
}

.articlesoursehigh {
    color: #929292;
    font-style: normal;
}
.articlebutton {
    float: right;
    width: auto;

}
.articlecard {
    height: 435px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 363px;

}

/*正文*/
.main0 {
    width: 1030px;

}

.main1 {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    flex-direction: row;


}
.main2 {
    background-color: #00FF14;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 220px;
    text-align: center;
}


/*头图*/
.header1_text {
    color: #FFFFFF;
    text-shadow: 3px 3px 2px #009BFF;
}
.header1 {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-size: cover;
    margin-top: 10px;
    max-height: 200px;
}


.body {
    background-color: #DCDCDC;
}


.articlecardpicture {
    margin-top: 17px;
}
.a-center {
    text-align: center;
    width: 0px;
}
.icon {
    max-width: 100px;
    max-height: 40px;
}


.large_icon {
	align-self: center;
    max-width: 100px;
    max-height: 100px;
}
.round {
    border-radius: 7px;
}
.blur {
    -webkit-box-shadow: 0px 0px 42px;
    box-shadow: 0px 0px 42px;
}
