@charset "utf-8";
.header {
    background-color: #9BDF17;
    min-width: 60px;
    height: 123px;
    text-shadow: 6px 6px 3px #878787;
    text-decoration: none;
    font-style: normal;
    margin-top: 10px;
    font-family: abel;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 1280px;
    border-radius: 20px;
    font-weight: 400;
}
.p1 {
    font-size: xx-large;
}
.p1d {
    text-align: right;
}
.articlesourse {
    font-weight: 900;
    color: #B8B8B8;
    width: auto;
}
    div{float:left}
.articlesoursehigh {
    color: #929292;
    font-style: normal;
}
.articlebutton {
    float: right;
    width: auto;

}
.articlecard {
    height: 435px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 363px;

}
.div0 {
    width: 1260px;
    min-width: 1281px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.div1 {
    width: 1127px;

}
.div2 {
    width: 143px;
    height: 1358px;
    min-width: 143px;
    min-height: 0px;
    background-color: #00FF14;
    margin-left: 5px;
}
.round {
    border-radius: 7px;
}

.header1 {
    height: 288px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 769px;
    background-image: url(../../project/images/school.png);
    background-repeat: no-repeat;
}
.centered {
    margin-left: 577px;
}
.white {
    color: #FFFFFF;
}
.body {
    background-image: url(../../project/images/block.png);
    max-width: 1800px;
}
.beta {
    text-decoration: underline;
    color: #ADADAD;
}
.hh1 {
    font-size: 43px;
    margin-left: 548px;
}
.hh2 {
    font-size: 30px;
}
.articlecardpicture {
    margin-top: 17px;
}
.a-center {
    text-align: center;
    width: 0px;
}
